ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
}
img {
    display: block;
}
h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}
 
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background: #ffffff;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 
.page-navigation {
    display: flex;
}
.menu {
    display: flex;
    gap: 10px;
}
.contact-list {
    display: flex;
    gap: 10px;
}
.page-header .container {
    display: flex;
    justify-content: space-around;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.menu-link:focus {
    color: #404bbf;
}
.contact-list-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact-list-item:hover {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}
.contact-list-item:focus {
    color: #404bbf;
}
.page-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.page-text-second {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.contact {
    font-style: normal;
}
.page-section {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2E2F42;
}
.page-section-container {
    padding-top: 188px;
    padding-bottom: 292px;
}
.page-section-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #ffffff;
}
.page-section-button {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
background-color: #4D5AE5;
color: #ffffff;  
}
.page-section-button:hover {
    background-color: #404BBF;
}
.page-section-button:focus {
    background-color: #404BBF;
}
.page-section-name {
color: #ffffff;
}
.page-section-name:hover {
    background-color: #404BBF;
}
.page-section-name:focus {
    background-color: #404BBF;
}
.section-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .section-benefits-p {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }
    .section-team {
        background-color: #f4f4fd;
    }
    .section-team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
    }
    .section-team-list {
        background-color: #ffffff;
    }
    .section-team-member {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
    }
    .section-team-profession {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }
    .section-portfolio {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
    }
    .section-portfolio-item {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
    }
    .section-portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
    }
    .footer {
        background: #2e2f42;
    }
    .footer-logo-text {
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
    }
    .footer-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
    }
